{{ define "main" }}

{{ $posts := (where $.Site.RegularPages "Type" "in" $.Site.Params.sections.blog) }}
{{ $news := (where $posts ".Params.categories" "intersect" (slice "News")) }}
{{ $posts = (($posts | complement $news) | first 6) }}

{{ with $posts }}
<div class="section py-3 py-md-5">
  <div class="row row-cols-1 row-cols-lg-2 g-3">
    {{ range . }}
    <div class="col">
      {{ $summary := (delimit (slice .Summary "") "") }}
      {{ partial "summary" (dict "context" . "summary" $summary "view" "0") }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ end }}
